@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.bg-color {
  background: rgba(255, 144, 14, 0.1);
}

.dark-2 {
  color: rgb(66, 66, 66);
}
.dark-3 {
  color: rgb(114, 114, 114);
}

.display-flex {
  display: flex;
}
.primary-btn {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  color: white;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  border: none;
}
.navbar,
.banner,
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}
.brand-name,
.teams-title,
.fact-title,
.sponsor-title {
  font-weight: 700;
  font-size: 2.8125rem;
}

/* headar style  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  gap: 35px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.explore-btn {
  margin-top: 32px;
  margin-bottom: 50px;
}
.banner-img {
  width: 100%;
  margin-bottom: 45px;
}
/* teams style  */
.teams {
  align-items: center;
  gap: 73px;
  margin: 85px 0 130px 0;
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-text {
  max-width: 537px;
}
.teams-title {
  margin-bottom: 24px;
}
.teams-details {
  margin-bottom: 32px;
}
.title-1 {
  color: rgb(114, 114, 114);
  font-weight: 500;
}
.title-2 {
  color: rgb(255, 144, 14);
}

/* features styles  */
.features {
  display: flex;
  gap: 146px;
  margin-bottom: 130px;
}
.features-content {
  max-width: 586px;
}
.features-title {
  display: flex;
  gap: 21px;
  align-items: center;
}
.title-box {
  width: 5px;
  height: 106px;
  background: rgb(255, 144, 14);
}
.features-title h2 {
  font-size: 2.8125rem;
  font-weight: 700;
}
.features-details p {
  line-height: 26px;
  margin-bottom: 30px;
}
.features-point-item {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px 42px 30px 30px;
  margin-bottom: 20px;
}
.features-point-item h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.features-point-item p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.features-img {
  position: relative;
}
.features-img img {
  width: 100%;
}
.experience {
  padding: 42px 46px;
  border-radius: 8px;
  border: none;
  color: white;
  background: rgb(255, 144, 14);
  position: absolute;
  bottom: 0px;
  left: -92px;
}
.experience h2 {
  font-size: 4rem;
  margin: 0;
}
.experience p {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
}

/* some facts style  */
.fact-title,
.sponsor-title {
  margin: 0;
}
.fact-text {
  max-width: 542px;
  line-height: 26px;
  margin: 24px 0 100px 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}
.card-item {
  text-align: center;
  width: 169px;
  height: 136.22px;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  padding: 46.79px 37px 60px 37px;
}
.card-item h1 {
  font-size: 2.8125rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
}
.card-item p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
/* sponsor style  */
.sponsors {
  text-align: center;
  margin: 130px 0 130px 0;
}
.sponsor-title {
  margin-bottom: 24px;
}
.sponsor-detals {
  max-width: 542px;
  line-height: 26px;
  margin: 0 auto;
}
.sponsors-img {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 30px;
}

/* footer style  */
.footer-all {
  height: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  text-align: center;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }
  .teams-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .experience {
    padding: 20px 25px;
    left: 0px;
  }
  .experience h2 {
    font-size: 3rem;
  }
  .cards,
  .sponsors-img {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .experience {
    padding: 20px 25px;
    left: 0px;
  }
  .cards,
  .sponsors-img {
    grid-template-columns: repeat(2, 1fr);
  }
}
